<main>
    <h1 class="fw-300 centrar-texto">Administración</h1>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Blog
          </mat-panel-title>
          <mat-panel-description>
            Administracion de blogs / Agregar / Editar / Eliminar
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Contenido</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Peticiones
          </mat-panel-title>
          <mat-panel-description>
            Administracion de peticiones / Agregar / Editar / Eliminar
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Contenido</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Propiedades
          </mat-panel-title>
          <mat-panel-description>
            Administracion de propiedades / Agregar / Editar / Eliminar
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-administracion-propiedades></app-administracion-propiedades>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Usuarios
          </mat-panel-title>
          <mat-panel-description>
            Administracion de usuarios / Agregar / Editar / Eliminar
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-administracion-usuario></app-administracion-usuario>
    </mat-expansion-panel>
</main>

