<h1 class="fw-300 centrar-texto">Contacto</h1>
    <img src="../../../../assets/Imagenes/destacada3.jpg" alt="Imagen Principal" class="imgContenido">

    <main class="contenedor seccion contenido-centrado">
        <h2 class="fw-300 centrar-texto">Llena el formulario de Contacto</h2>

        <form class="contacto" #contactoForm="ngForm" (ngSubmit)="addContacto(contactoForm)"> 
            <fieldset>
                <legend>Información Personal</legend>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" placeholder="Tu Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="contactoService.selectedContacto.nombre">
                <label for="email">E-mail: </label>
                <input type="email" id="email" placeholder="Tu Correo electrónico" name="email" #email="ngModel" [(ngModel)]="contactoService.selectedContacto.email">
                <label for="telefono">Teléfono:</label>
                <input type="tel" id="telefono" placeholder="Tu Teléfono" name="telefono" #telefono="ngModel" [(ngModel)]="contactoService.selectedContacto.telefono">
                <label for="mensaje">Mensaje: </label>
                <textarea  id="mensaje" name="mensaje" #mensaje="ngModel" [(ngModel)]="contactoService.selectedContacto.mensaje"></textarea>
            </fieldset>
            <fieldset>
                <legend>Información sobre Propiedad</legend>
                <label for="opciones">Vende o Compra</label>
                <select id="opciones" name="tipoAccion" #tipoAccion="ngModel" [(ngModel)]="contactoService.selectedContacto.tipoAccion">
                    <option value="" disabled selected>-- Seleccione --</option>
                    <option value="Compra">Compra</option>
                    <option value="Vende">Vende</option>
                </select>

                <label for="cantidad">Cantidad:</label>
                <input type="number" min="0" max="100" step="5" name="cantidad" #cantidad="ngModel" [(ngModel)]="contactoService.selectedContacto.cantidad">
            </fieldset>
            <fieldset>
                <legend>Contacto</legend>

                <p>Como desea ser Contactado:</p>

                <div class="forma-contacto">
                    <label for="telefono">Teléfono</label>
                    <input type="radio" name="contacto" value="telefono" id="telefono" name="formaDeContacto" #formaDeContacto="ngModel" [(ngModel)]="contactoService.selectedContacto.formaDeContacto">

                    <label for="correo">E-mail</label>
                    <input type="radio" name="contacto" value="correo" id="correo" name="formaDeContacto" #formaDeContacto="ngModel" [(ngModel)]="contactoService.selectedContacto.formaDeContacto">
                </div>

                <p>Si eligió Teléfono, elija la fecha y la hora</p>
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" #fecha="ngModel" [(ngModel)]="contactoService.selectedContacto.fecha">

                <label for="hora">Hora:</label>
                <input type="time" id="hora" min="09:00" max="18:00" name="hora" #hora="ngModel" [(ngModel)]="contactoService.selectedContacto.hora">
            </fieldset>
            <button class="boton boton-verde">Enviar</button>
        </form>
    </main>
