<main class="contenedor">
    <h1 class="fw-300 centrar-texto">Conoce Sobre Nosotros</h1>

    <div class="contenido-nosotros">
        <div class="imagen">
            <img src="../../../../assets/Imagenes/nosotros.jpg" alt="Imagen Sobre Nosotros">
        </div>
        <div class="texto-nosotros">
            <blockquote>25 Años de Experiencia</blockquote>

           <p>Inmobiliaria COPE fue fundada el año 2015, con la finalidad de ofrecer servicios de asesoría integral en la gestión y desarrollo de proyectos inmobiliarios de distinta índole.
            Sus socios Mauricio Núñez Varela y Felipe Apparcel Knoop, ambos reúnen más de 35 años de experiencia acumulado en el rubro inmobiliario y construcción, y que, junto al equipo ejecutivo de la empresa, son el principal activo que permite ofrecer óptimos resultados en sus proyectos.
            Desde sus inicios a la fecha, la empresa ha crecido sostenida y orgánicamente, manteniendo actualmente una cartera de proyectos que suman más de 90.000 mt2 de construcción, y cuyas ventas superan las UF 3.200.000.
            </p>

           <p>La exitosa trayectoria en Chile, llevó a Actual Inmobiliaria a cruzar fronteras y, de la mano de socios locales, formar Actual Colombia y Actual Perú, para desarrollar proyectos en ambos países con la experiencia y sello Actual.
            
            En Perú, Actual está desarrollando exitosos proyectos en San Miguel, Miraflores y Chorrillos; mientras que en Colombia, Actual diseña y construye importantes proyectos en Bogotá, Tolima y Cundimarca. </p> 
        </div>
    </div>
</main>
<app-index-nosotros></app-index-nosotros>
